:root {
    font-size: 20px;
    --dark-accent: #5ba576;
    --dark-bg: #3c3231;
    --dark-text: #d7e5e6;
    --light-accent: #5ba576;
    --light-bg: #d7e5e6;
    --light-text: #3c3231;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-bg);
    }

    body,
    a {
        color: var(--dark-text);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--light-bg);
    }

    body,
    a {
        color: var(--light-text);
    }
}

body,
a {
    font-weight: 300;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    line-height: 100%;
    margin: 1rem 0;
}

html {
    scroll-behavior: smooth;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
