:root {
    --primary: #1f2041;
    --secondary: #4b3f72;
    --text: #a4a5b2;
    font-size: 16px;
    line-height: 20px;
}

html {
	scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
}

body,
a {
    font-family: "Nunito", sans-serif;
    color: var(--text);
}
