:root {
    font-size: 20px;
    --dark-accent: #5ba576;
    --dark-bg: #3c3231;
    --dark-text: #e6e0d7;
    --light-accent: #5ba576;
    --light-bg: #e6e0d7;
    --light-text: #3c3231;
    --font: "Nunito", sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-bg);
    }

    body,
    a {
        color: var(--dark-text);
    }

    a:hover {
        color: var(--light-accent);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--light-bg);
    }

    body,
    a {
        color: var(--light-text);
    }

    a:hover {
        color: var(--light-accent);
    }
}

@media only screen and (max-width: 768px) {
    :root {
        font-size: 16px;
    }
}

a {
    text-decoration: none;
    transition: all 0.05s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: left;
    font-weight: 400;
    line-height: 100%;
    margin: 1rem 0;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
